
<div>
    <div class="form-group">
        <label for="inputExpenseReportName">Name</label>
        <input type="text" class="form-control" ng-model="expenseReport.Name" id="inputExpenseReportName" placeholder="Name">
    </div>

    <div class="form-group" >
        <label for="drpdwnvalue">Add Line Item</label>
        <select class="form-control" id="drpdwnvalue" ng-change="addItem()" ng-model="dropdownvalue" ng-options="type.name for type in LineItemTypes">
            <option></option>
        </select>
    </div>

    <div class="form-group" ng-repeat="line in expenseReport.lineItems">
        <label>{{line.Type}}</label>
        <input type="text" class="form-control" ng-model="line.Value" ui-money-mask placeholder="Value Amount Here">
    </div>

    <div ui-view="projectSelect"></div>

    <div>
        <button data-ng-show="showButton" type="submit" ng-click="persist('saved')" class="btn btn-default">Save</button>
        <button data-ng-show="showButton" type="submit" ng-click="persist('submitted')" class="btn btn-default">Submit</button>
    </div>
</div>
