
<div ng-init="setExpenseReport()">
    <div class="form-group">
        <label for="inputExpenseReportName">Name</label>
        <input type="text" class="form-control" ng-model="expenseReport.name" ng-disabled="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" id="inputExpenseReportName" placeholder="Name">
    </div>

    <div ng-hide="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" class="form-group" >
        <label for="drpdwnvalue">Add Line Item</label>
        <select class="form-control" id="drpdwnvalue" ng-change="addItem()" ng-model="dropdownvalue" ng-options="type.name for type in LineItemTypes" ng-disabled="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')">
            <option></option>
        </select>
    </div>

    <div class="form-group" ng-repeat="line in expenseReport.items">
        <label id={{line.type}}Label>{{line.type}}</label>
        <div data-ng-class="{'input-group': (expenseReport.status === 'saved') || (expenseReport.status === undefined)}">
            <input type="text" data-ng-class="{'line-item': (expenseReport.status === 'saved') || (expenseReport.status === undefined)}" class="form-control" ng-model="line.value" ng-disabled="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" ui-money-mask placeholder="Value Amount Here" id={{line.type}}InputID>
            <span class="input-group-addon red-x" ng-hide="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" ng-click="delete($index)"id={{line.type}}Delete>&times;</span>
        </div>
    </div>

    <div ui-view="projectSelect"></div>
    <div class="form-group">
        <label>Notes:</label>
        <textarea ng-disabled="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" class="form-control" data-ng-model="expenseReport.notes" id="notesInput"></textarea>
    </div>
    <div>
        <button ng-hide="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied') || !showButton" type="submit" ng-click="save()" class="btn btn-default" id="save">Save</button>
        <button ng-hide="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied') || !showButton" type="submit" ng-click="submit()" class="btn btn-default" id="submit">Submit</button>
        <button ng-hide="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" type="submit" ng-click="cancel()" class="btn pull-right btn-default" id="cancel">Cancel</button>
    </div>
	<div ng-show="expenseReport.hasOwnProperty('status') && expenseReport.status === 'submitted'">
		<button type="submit" ng-click="unsubmit()" class="btn btn-default">Unsubmit</button>
        <button type="submit" ng-click="reject()" class="btn btn-default">Reject</button>
	</div>
</div>
