<!--<a href="" class="dropdown-toggle" bs-dropdown role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li ><a>Project</a></li>-->
<!--<li ng-repeat="p in projects"><a>{{p.name}}</a></li>-->
<!--</ul>-->

<div class="form-group">
    <label for="selectDropdown">Select a Project</label>
    <span class="error" ng-show="!hasProject"> Must include project on submit</span>
    <select class="form-control" id="selectDropdown" ng-disabled="expenseReport.hasOwnProperty('status') && (expenseReport.status === 'submitted' || expenseReport.status === 'approved' || expenseReport.status === 'denied')" ng-change="addItem()" ng-init="dropdownvalue=projects[selectProject()]" ng-model="dropdownvalue" ng-options="p.name for p in projects track by p._id">
        <option></option>
    </select>
</div>
