<div>
    <h2>Reports to approve</h2>
    <table data-ng-hide="reports.length < 1" class="table table-hover">
        <thead>
            <tr>
                <th>
                    <span>Report Name:</span>
                    <span class="pull-right">Project Name:</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="report in reports">
                <td class="clickable" data-ng-click="goToReport(report._id)"><span>{{report.name}}</span><span class="pull-right">{{report.project.name}}</span></td>
            </tr>
        </tbody>
    </table>
    <div data-ng-show="reports.length < 1" class="container">
        <p>No expense reports to approve.</p>
    </div>
</div>
