<div class="container">
    <h2>Report</h2>
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>User</th>
                <th>Project</th>
                <th>Line Items</th>
            </tr>
        </thead>
        <tbody>
            <tr >

                <td>
                    <ul class="list-unstyled">
                        <li data-ng-repeat="item in report.items">
                            {{item.type}}: ${{item.value / 100}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table> -->
    <ul class="list-unstyled">
        <li>Name: {{report.name}}</li>
        <li>User: {{report.user.name}}</li>
        <li>Project: {{report.project.name}}</li>
        <li>Line Items:</li>
        <li data-ng-repeat="item in report.items">
            {{item.type}}: ${{item.value / 100}}
        </li>
    </ul>
</div>
