<div>
    <h2>Expense Reports</h2>
    <h4 ng-hide="reports.length >  0" style="text-align:center;" >No Reports to show</h4>
<!--
	<div>
		<table ng-show="reports.length >  0" class="table table-hover" id="savedTable">
			<thead>
				<tr>
					<th>Saved</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="report in reports | filter:{ status: 'saved'}">
					<td ng-click="showReport(report._id)" class="clickable">{{report.name}}</td>
				</tr>
			</tbody>
		</table>
		<table ng-show="reports.length >  0" class="table table-hover" id="submittedTable">
			<thead>
				<tr>
					<th>Submitted</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="report in reports | filter:{ status: 'submitted'}">
					<td ng-click="showReport(report._id)" class="clickable">{{report.name}}</td>
				</tr>
			</tbody>
		</table>
		<table ng-show="reports.length >  0" class="table table-hover" id="approvedTable">
			<thead>
				<tr>
					<th>Approved</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="report in reports | filter:{ status: 'approved'}">
					<td ng-click="showReport(report._id)" class="clickable">{{report.name}}</td>
				</tr>
			</tbody>
		</table>
		<table ng-show="reports.length >  0" class="table table-hover" id="rejectedTable">
			<thead>
				<tr>
					<th>Rejected</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="report in reports | filter:{ status: 'denied'}">
					<td ng-click="showReport(report._id)" class="clickable">{{report.name}}</td>
				</tr>
			</tbody>
		</table>
	</div> -->
    <!-- accordion starts here -->
    <div class="panel-group" role="tablist" bs-collapse>
        <div>
            <div class="panel-group" data-start-collapsed="true" data-allow-multiple="true" role="tab tablist" aria-multiselectable="true" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-collapse" role="tab">
                        <h1 class="panel-title">
                            <a bs-collapse-toggle class="clickable">
                                Expense Reports
                            </a>
                        </h1>
                    </div>
                    <div class="panel panel-default"  bs-collapse-target>
                        <div class="panel panel-default" ng-repeat="status in statuses">
                            <div class="panel-collapse" role="tab tabpanel">
                                <h4 class="panel-title">
                                    <a bs-collapse-toggle class="clickable">
                                      {{ status.name }}
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-heading" role="tabpanel" bs-collapse-target>
                                <div class="panel-body" ng-repeat="report in reports  | filter: status.name">
                                    <div ng-click="showReport(report._id)" class="clickable">
                                        {{ report.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="panel-group" data-start-collapsed="true" data-allow-multiple="true" role="tab tablist" aria-multiselectable="true" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-collapse" role="tab">
                        <h1 class="panel-title">
                            <a bs-collapse-toggle class="clickable">
                                Approver Stuff
                            </a>
                        </h1>
                    </div>
                    <div class="panel panel-default"  bs-collapse-target>
                        <div class="panel panel-default" ng-repeat="links in approverLinks">
                            <div class="panel-collapse" role="tab tabpanel">
                                <h4 class="panel-title">
                                    <a bs-collapse-toggle class="clickable">
                                      {{ links.name}}
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-heading" role="tabpanel" bs-collapse-target>
                                <div class="panel-body" ng-repeat="report in reportsByApprover | filter: links.status">
                                    <div ng-click="showApproverReport(report)" class="clickable">
                                        {{ report.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  

